body{
    background-image: linear-gradient(to top left,black,grey);
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    /* background-color: whitesmoke; */
}

.creator,
.join{
    background-image: linear-gradient(to right,#171515,white);
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    width: 100%;
}

.card-id{
    text-align: left;
    height: auto;
    background-color: black;
    color: white;
}

.action-btn{
    width: 100%;
    height: auto;
    color: white;
}

.modal-dialog{
    margin-top:15%;
}

.card-id:hover{
    background-color: grey;
}

.container{
    background:white;
    margin-top: 15%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin-left: 30%; */
}

button{
    height: 100px;
}

.btn-success,
.btn-info{
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
}

.btn-success a,
.btn-info a{
    text-decoration: none;
    color: white;
}

header{
    font-size:25px;
    text-align:center;
}

.footer{
    background-color: white;
    text-align:center;
}

.player1{
    background-color: black;
    color: white;
    height: -webkit-fill-available;
}

.input-container button{
    border-radius: 2px;
    font-size: 15px;
}
/* .chat-line{
    line-height: 1px;
} */